        body {
            background-color: rgb(8, 30, 44);
            font-family: 'Abel';
            margin: 0;
        }
        
        .header {
            width: 100%;
            height: 70px;
        }
        
        .home {
            margin: 0;
            text-align: center;
            color: white;
            font-size: 50px;
        }
        
        .form {
            color: rgb(255, 199, 79);
            font-size: 40px;
            transform: translateY(-55px);
            margin: 0;
            margin-left: 30px;
        }
        
        .line {
            width: 30px;
            height: 2px;
            background-color: white;
            margin-bottom: 10px;
        }
        
        .menu_line {
            position: absolute;
            margin: 0;
            transform: translateY(-95px);
            right: 20px;
        }
        
        .main {
            position: absolute;
            left: 6%;
            right: 0;
            margin: auto;
            margin-top: 50px;
            display: flex;
            list-style: none;
        }
        
        .box1 {
            margin-top: 60px;
            width: 30px;
            height: 300px;
            background-color: rgb(19, 44, 60);
            margin: 70px 15px;
            filter: blur(1px);
        }
        
        .box2 {
            margin-top: 20px;
            width: 70px;
            height: 400px;
            background-color: rgb(31, 64, 85);
        }
        
        .box_main {
            position: relative;
            width: 70%;
            height: 450px;
            background-color: rgb(40, 83, 100);
            margin: 0 30px;
            overflow: hidden;
        }
        /* ///////////////////////////////////////////
        /////////////////////////////////////////// */
        
        #main1_img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            filter: blur(5px);
            opacity: 0;
            transform: scale(0.9);
            animation: main_opa_op 2s, main_opa_ed 1s 6s;
            animation-fill-mode: forwards;
        }
        
        #main2_img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            filter: blur(5px);
            opacity: 0;
            transform: scale(0.9);
            animation: main_opa_op 2s 6s, main_opa_ed 1s 12s;
            animation-fill-mode: forwards;
        }
        
        #main3_img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            filter: blur(5px);
            opacity: 0;
            transform: scale(0.9);
            animation: main_opa_op 2s 12s, main_opa_ed 1s 18s;
            animation-fill-mode: forwards;
        }
        
        #main4_img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            filter: blur(5px);
            opacity: 0;
            transform: scale(0.9);
            animation: main_opa_op 2s 18s, main_opa_ed 1s 24s;
            animation-fill-mode: forwards;
        }
        /* ///////////////////////////////////////////
        /////////////////////////////////////////// */
        
        h2 {
            font-family: 'Quicksand';
            font-weight: lighter;
            margin-top: 600px;
            font-size: 50px;
            text-align: center;
            color: white;
        }
        
        .introduction {
            width: 800px;
            height: 500px;
            background-color: rgb(43, 62, 74);
            margin: 0 auto;
        }
        
        .introduction img {
            margin: 0 20px;
        }
        
        .introduction p {
            color: white;
            margin: 0;
            font-size: 45px;
            font-family: 'Quicksand';
            font-weight: lighter;
            margin-left: 145px;
            margin-top: -115px;
        }
        
        .p1 {
            color: white;
            margin: 0;
            margin-top: 60px;
            font-size: 30px;
            font-family: 'Quicksand';
            font-weight: lighter;
        }
        
        .h3_info {
            position: absolute;
            margin-left: 100px;
        }
        
        .box_d1 {
            position: absolute;
            width: 300px;
            height: 60px;
            background-color: rgba(231, 248, 255, 0.26);
            margin-top: 65px;
            margin-left: 430px;
        }
        
        .pf {
            position: absolute;
            margin-top: 70px;
            margin-left: 430px;
        }
        
        .junl {
            display: inline;
        }
        
        .box_d1 h2 {
            font-size: 40px;
            margin: 0;
            margin-top: 3px;
        }
        
        iframe {
            border: none;
            transform: scale(0.8);
        }
        /* /////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////
        ////////////////////////Main////////////////////////// */
        /* /////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////// */
        /* main1 */
        
        .info_1 {
            position: relative;
            margin: 150px 0;
            margin-bottom: 80px;
            width: 70%;
            height: 400px;
            background-color: rgb(25, 50, 74);
            margin-left: 30%;
        }
        
        .box5 {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 80%;
            background-color: white;
        }
        
        .box6 {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 60px;
            margin: auto;
            width: 40px;
            height: 85%;
            background-color: rgb(78, 115, 136);
        }
        
        .box_youtube1 {
            position: absolute;
            top: 100px;
            left: 15%;
            margin: auto;
            width: 45%;
            height: 70%;
            background-color: rgba(78, 115, 136, 0.308);
        }
        
        .box_youtube1 img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            transform: scale(1.1);
            height: 101%;
        }
        
        .youtube1 {
            margin-top: 14px;
        }
        
        .main1_tittle {
            position: absolute;
            top: 20px;
            left: 15%;
            margin: auto;
            width: 45%;
            height: 15%;
            background-color: rgba(67, 94, 109, 0.308);
        }
        
        .main1_tittle p {
            margin: 5px 40%;
            color: white;
            font-size: 40px;
        }
        
        .youtube1_info {
            position: absolute;
            top: 100px;
            right: 2%;
            margin: auto;
            width: 35%;
            height: 70%;
            background-color: rgba(78, 115, 136, 0.308);
        }
        
        .youtube1_info_tittle {
            position: absolute;
            top: 20px;
            right: 2%;
            margin: auto;
            width: 35%;
            height: 15%;
            background-color: rgba(78, 115, 136, 0.308);
        }
        
        .youtube1_info_tittle p {
            margin: 5px 42%;
            color: white;
            font-size: 40px;
        }
        
        .youtube1_info iframe {
            position: absolute;
            margin: auto;
            right: 0px;
            left: 0;
        }
        /* /////////////////////////////////////////////////////////
        /////////// */
        /* left 左寄せ（既数倍の場合）*/
        
        .info_2 {
            position: relative;
            margin: 80px 0;
            width: 70%;
            height: 400px;
            background-color: rgb(25, 50, 74);
            margin-left: 0%;
        }
        
        .box10 {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 20px;
            height: 80%;
            background-color: white;
        }
        
        .box11 {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 60px;
            margin: auto;
            width: 40px;
            height: 85%;
            background-color: rgb(78, 115, 136);
        }
        
        .box_youtube2 {
            position: absolute;
            top: 100px;
            right: 15%;
            margin: auto;
            width: 45%;
            height: 70%;
            background-color: rgba(78, 115, 136, 0.308);
        }
        
        .box_youtube2 img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            transform: scale(1.1);
            height: 101%;
        }
        
        .youtube2 {
            margin-top: 14px;
        }
        
        .main2_tittle {
            position: absolute;
            top: 20px;
            right: 15%;
            margin: auto;
            width: 45%;
            height: 15%;
            background-color: rgba(67, 94, 109, 0.308);
        }
        
        .main2_tittle p {
            margin: 5px 40%;
            color: white;
            font-size: 40px;
        }
        
        .youtube2_info {
            position: absolute;
            top: 100px;
            left: 2%;
            margin: auto;
            width: 35%;
            height: 70%;
            background-color: rgba(78, 115, 136, 0.308);
        }
        
        .youtube2_info_tittle {
            position: absolute;
            top: 20px;
            left: 2%;
            margin: auto;
            width: 35%;
            height: 15%;
            background-color: rgba(78, 115, 136, 0.308);
        }
        
        .youtube2_info_tittle p {
            margin: 5px 42%;
            color: white;
            font-size: 40px;
        }
        
        .youtube2_info iframe {
            position: absolute;
            margin: auto;
            left: 0px;
            right: 0;
        }
        /* 2回目移行のRight_Main要素はこの【.info_3】を使用してください。 */
        
        .info_3 {
            position: relative;
            margin: 80px 0;
            margin-bottom: 80px;
            width: 70%;
            height: 400px;
            background-color: rgb(25, 50, 74);
            margin-left: 30%;
        }
        /* /////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////
        ///////////////////////Main////ED//////////////////// */
        /* /////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////// */
        
        @keyframes main_opa_op {
            from {
                opacity: 0;
                filter: blur(5px);
            }
            to {
                filter: blur(0px);
                transform: scale(1);
                opacity: 1;
            }
        }
        
        @keyframes main_opa_ed {
            from {
                opacity: 1;
                transform: scale(1);
            }
            to {
                opacity: 0;
                transform: scale(1.05);
                filter: blur(5px);
            }
        }